@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap');

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$primary-color: #f8e1e7;
$secondary-color: #3b4252;
$light-color: #ffefef;
$dark-color: #373f51;
$font-stack: 'Cormorant Garamond', serif;
$bg-color: #fff5f5;
$text-color: $dark-color; // Change to use $dark-color for text color
$hover-color: darken($primary-color, 60%);

html, body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  color: $light-color;
  background: $primary-color;
  overflow-x: hidden;
}

body {
  font-family: "Cormorant Garamond", "Courier New", serif;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $primary-color !important;

  a {
    color: $secondary-color !important;

    &:hover {
      color: $hover-color !important;
    }
  }
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.img-fluid {
  width: 20%;
  height: auto;
  border-radius: 50%;
  @include transition(all 0.5s ease);
  &:hover {
    transform: scale(1.1);
  }
}


section {
  .container {
    h2 {
      font-size: 2em;
      text-align: center;
      margin-bottom: 1em;
    }
    .degree,
    .award,
    .job {
      margin-top: 2em;
      h3 {
        font-size: 1.5em;
        color: $dark-color;
      }
      p,
      ul {
        font-size: 1em;
        color: $text-color;
      }
      li {
        margin-bottom: 0.5em;
      }
    }
  }
}

#contact {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 1em;
      a {
        color: $secondary-color;
        text-decoration: none;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}

header.hero {
  padding: 5em 0;
  background: url('aj-McsNra2VRQQ-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;

  @include transition(all 0.5s ease);

  .container {
    position: relative;
    z-index: 2;

    .img-fluid {
      border: 5px solid $secondary-color;
      border-radius: 50%;
    }
    h1 {
      font-size: 2.5em;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin: 1em 0;
      color: $dark-color;
    }
    h3 {
      font-size: 1.2em;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      color: $dark-color;
    }
  }
}

.hidden {
  opacity: 0;
  margin-left: -100px;
}

.project,
.job,
.col-md-3 {
  border: 1px solid $primary-color;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  @include transition(box-shadow 0.3s ease-in-out);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
