@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  color: #ffefef;
  background: #f8e1e7;
  overflow-x: hidden; }

body {
  font-family: "Cormorant Garamond", "Courier New", serif;
  background-color: #fff5f5;
  color: #373f51;
  margin: 0;
  padding: 0; }

.navbar {
  background-color: #f8e1e7 !important; }
  .navbar a {
    color: #3b4252 !important; }
    .navbar a:hover {
      color: #87203b !important; }

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

img.img-fluid {
  width: 20%;
  height: auto;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  img.img-fluid:hover {
    transform: scale(1.1); }

section .container h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em; }

section .container .degree,
section .container .award,
section .container .job {
  margin-top: 2em; }
  section .container .degree h3,
  section .container .award h3,
  section .container .job h3 {
    font-size: 1.5em;
    color: #373f51; }
  section .container .degree p,
  section .container .degree ul,
  section .container .award p,
  section .container .award ul,
  section .container .job p,
  section .container .job ul {
    font-size: 1em;
    color: #373f51; }
  section .container .degree li,
  section .container .award li,
  section .container .job li {
    margin-bottom: 0.5em; }

#contact ul {
  list-style: none;
  padding: 0; }
  #contact ul li {
    margin-bottom: 1em; }
    #contact ul li a {
      color: #3b4252;
      text-decoration: none; }
      #contact ul li a:hover {
        color: #87203b; }

header.hero {
  padding: 5em 0;
  background: url("aj-McsNra2VRQQ-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  header.hero .container {
    position: relative;
    z-index: 2; }
    header.hero .container .img-fluid {
      border: 5px solid #3b4252;
      border-radius: 50%; }
    header.hero .container h1 {
      font-size: 2.5em;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin: 1em 0;
      color: #373f51; }
    header.hero .container h3 {
      font-size: 1.2em;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      color: #373f51; }

.hidden {
  opacity: 0;
  margin-left: -100px; }

.project,
.job,
.col-md-3 {
  border: 1px solid #f8e1e7;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  animation: fadeIn 1s ease-in-out; }
